    <%- include('partials/head')%>
    <%- include('partials/nav')%>

    <div class="container">
      <h1>Browsing the <%=name%> subreddit</h1>
      <h2><%= description %></h2>
      <p><%= subscribers %> Total Subscribers</p>
      <hr />
      <% for(let post of posts){ %>
      <article class="p-3">
        <p><%= post.title %> - <strong><%= post.author %></strong></p>
        <% if(post.img){%>
        <img class="img-fluid"
          src="<%= post.img %>"
          alt="<%= post.title %>" />
        <%}%>
      </article>
      <%}%>
    </div>

 <%- include('partials/footer')%>
